body {
  margin: 230px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.7;
  padding: 30px 20px;
  text-align: right;

}

h1 {
  color: #9DFFDD;
  padding: 50px 0px 10px 0px;
    text-align: right;
}
h3{
  color: white;
  text-align: center;
}
h4{
    color: black;
    font-size: 15pt;
    position:absolute;
    left: 45%;
    top: 20%;
    text-align: center;
  }
p{
  color: white;
  font-size: 15pt;
  position:absolute;
  left: 45%;
  top: 20%;
  text-align: center;
}



}
a {
color: ##C37AFF;
}

/* Centers images */

img {
display: block;
margin: 0px auto;
}

#div100{
  position:absolute;
  top:55%;
  left:30%;

}

#div1 {
  position:absolute;
  top:48%;
  left:10%;
}
#div2  {
  position:center;
  top:50%;
  left:49%;
}

#div3   {
  position:absolute;
  top:10;
  left:66%;
}
#div4   {
  position:absolute;
  top:65%;
  left:26%;
}
#div5   {
  position:absolute;
  top:15%;
  left:3%;
}
#div6   {
  position:absolute;
  top:5%;
  left:12%;
}
#div7   {
  position:absolute;
  top:9%;
  left:10%;
}
#div8   {
  position:absolute;
  top:9%;
  left:22%;
}#div8   {
  position:absolute;
  top:9%;
  left:18%;
}
#div9   {
  position:absolute;
  top:9%;
  left:22%;
}
#div10   {
  position:absolute;
  top:20%;
  left:15%;
}
#Homepage{
  position:absolute;
  top:85%;
  left:5%;
}
#Nextpage{
  position:absolute;
  top:90%;
  left:85%;
}
#music{
  position:fixed;
  bottom: 1%;
  right:10%;
}



}
